body {
	background-image: url("http://data.whicdn.com/images/65932391/original.png"); 
}

p {
	background-color: white;
	font-family: "Verdana", "Times New Roman";
	font-size: large;
	color: #006633;
	padding: 15px;
	
}

.container {
	margin: auto;
    	width: 40%;
}

.image {
	margin: auto;
    	width: 25%;
}
